body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(177, 209, 255);

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
    color: #3A4F7A;
    color: #2B3467;
}

.nav-links a{
    color: #2D033B;
}

.logo{
    font-size: 40px;
}

.menu{
    display: flex;
    gap: 1.5em;
    font-size: 23px;
    padding: 19px;
    color: #3A4F7A;
}

.menu li:hover {
    text-decoration: underline;
    transition: 0.5s ease-out;
}

.menu i{
    font-size: 28px;
    padding: 0 5px;
}

.containe{
    display: flex;
    justify-content: center;
    width: min(100% - 15px, 1175px);
    margin-inline: auto;
    align-items: center;
}

i:hover{
    text-decoration: underline;
}

.subtitle{
    margin-left: 35px;
    padding-left: 22px;
    line-height: 47px;
    padding: 65px;
}

.subtitle-mainhead{
    color: #EB455F;
}

.subtitle-intro{
    font-size: 50px;
}

.subtitle-passs{
    font-size: 27px;
}

.details{
    margin-top: 20px;
    background-color: #d2d2d2;
    color: white;
    text-decoration: none;
    border: none;
    padding: 12px 17px;
    border-radius: 9px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.details:hover{
    background-color: rgb(255, 255, 255);
    color: white;
}

.subtitle a{
    text-decoration: none;
}

.title{
    font-size: 30px;
    padding: 19px;
}

.text{
    font-size: 20px;
    margin: 5px 500px 15px 0px;
    line-height: 44px;
}

.content p{
    margin-top: 30px;
    font-size: 24px;
    line-height: 44px;
    padding: 19px;
}

.content-sectiom .social i{
    font-size: 30px;
    padding: 0 10px;
}

.foot-down{
    background-color: #97DECE;
}

.foot{
    justify-content: center;
    text-align: center;
}

.foot i{
    font-size: 35px;
    padding: 0px;
}